.app-container {
	min-height: 100vh;
	display: flex;
	background-image: linear-gradient(
		to right top,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	);
	align-items: center;
	padding: 1rem auto;
}
.content-container {
	max-width: 1024px;
	margin: 0.5rem auto;
	text-align: center;
	padding: 1rem auto;
}
.logo-image {
	width: 64px;
	height: 64px;
}
.ant-steps {
	text-align: left !important;
}
.rent-color {
	color: #a8eb12;
}
img {
	width: 100%;
	object-fit: cover;
}
.easy-rent-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.easy-rent-text {
	animation-name: focus-in-contract;
	animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
}
@keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0);
		opacity: 1;
	}
}
.primary-button {
	background-color: #a8eb12;
	color: #333;
	border-color: #a8eb12;
}
.primary-button:hover {
	background-color: #333;
	color: #a8eb12;
	border-color: #333;
}
.primary-button:focus {
	background-color: #333;
	color: #a8eb12;
	border-color: #333;
}

.primary-button:active {
	background-color: #a8eb12;
	color: #333;
	border-color: #a8eb12;
}
.primary-button:visited {
	background-color: #a8eb12;
	color: #333;
	border-color: #a8eb12;
}
.content-section {
	margin: 1rem auto;
}
.button-container {
	padding: 0.5rem;
}
.card-rappers {
	padding: 20px;
	border-radius: 24px;
}
.hide-element {
	display: none;
}
.steps {
	margin: 2rem 0;
}
@media screen and (max-width: 768px) {
	.content-container {
		margin: 1rem;
		text-align: center !important;
	}

	.app-container {
		height: auto !important;
	}
}
