.ant-menu {
	background: none;
	width: auto;
	color: #333;
}
.ant-menu-inline {
	border-right: none;
}
.ant-menu-submenu .ant-menu-sub {
	background: none;
}
.ant-menu-item-selected {
	color: #333;
	background-color: #a8eb12;
}
.ant-menu-item-active {
	color: #333;
	background-color: #a8eb12;
}
.ant-menu-item-active:hover {
	color: #333;
	background-color: #a8eb12;
	border-color: #333;
	border-radius: 10px 0 0 10px;
	border-right: 3px solid #333;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	color: #333;
	background-color: #a8eb12;
	border-radius: 10px 0 0 10px;
}
.ant-menu-item
	ant-menu-item-only-child
	ant-menu-item-active
	ant-menu-item-selected {
	border-color: #333;
}
.ant-menu-submenu-title {
	color: #333;
}
.ant-menu-submenu-title:active {
	color: #333;
}
.ant-menu-inline .ant-menu-item::after {
	border-color: #333;
}
.ant-menu-inline .ant-menu-item:hover {
	border-color: #333;
}
.actions {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-top: 10px;
}
.center {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
.add-appartment-container {
	width: 400px;
}
.upload-btn {
	width: 100%;
	border-radius: 10px;
}
.dashboard-drawer-header {
	background-color: #18c1a9;
	padding: 10px;
}
.mobile-ant-menu {
	padding: 10px;
}
.dashboard-filter-pane {
	padding: 0 !important;
}
.operation-title {
	color: #fff;
}
.appartment-listing-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 20px;
}
.apartment {
	width: 100%;
}
@media screen and (max-width: 768px) {
	.center {
		text-align: center;
		align-items: center;
		display: flex;
		padding-left: 5%;
		padding-right: 5%;
	}
	.add-appartment-container {
		width: 250px;
	}
	.sign-up-card-rappers {
		margin-top: 10px;
	}
}
