.plan-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.plan {
	min-width: 300px;
	max-width: 300px;
	margin: 10px;
}
.plan-title {
	width: 100%;
	height: 30px;
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.addon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
}
@media screen and (max-width: 768px) {
	.plan-container {
		display: block;
	}
	.plans-wrapper {
		padding: 12px;
	}
	.plan {
		margin: 20px 0;
		padding-bottom: 2px solid #fff;
		padding: 2px;
	}
	.includes {
		display: none;
	}
}
