.plan-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.plan {
	min-width: 300px;
	max-width: 300px;
	margin: 10px;
	border: 2px solid #fff !important;
}
.plan-title {
	width: 100%;
	height: 30px;
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.addon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
	padding-left: 10px;
	padding-right: 10px;
}
.checkout-btn-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
	.plan-container {
		display: block;
	}
	.plans-wrapper {
		padding: 12px;
	}
	.plan {
		margin: 20px 0;
		border: 2px solid #fff !important;
		padding: 2px;
	}
	.includes {
		display: none;
	}
	.addon {
		padding-left: 10px;
		padding-right: 10px;
	}
	.plans-wrapper {
		border: none;
	}
}
