.sign-up-card-rappers{
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid #fff;   
}
.sign-up-row{
    text-align: center;
   
}
.input-container{
    padding: 0.5rem;
}
.input-box{
    border-radius: 10px;
}
.sign-up-login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-container{
    margin: 1rem auto;
}
.social-login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social-icon{
    height: 32px;
    width: 32px;
}
.social-icon:hover{
    cursor: pointer;
}
.login-link{
    color: #A8EB12;
    margin: 0 5px;
}
.login-link:hover{
    color: #A8EB12;
    background-color: #333;
    border-color: #333;
}
.login-link:active{
    color: #A8EB12;
}
