.mapContainerDiv {
  height: 100vh;
  width: 100%;
  border-radius: 6px;
}
.innerMapContainerDiv {
  height: 100%;
}

.map-img-container {
  height: 250px !important;
}
.map-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.map-popup-title-div {
  padding: 10px;
  font-size: 16px;
}
.gm-style .gm-style-iw-c {
  padding: 0px;
}
.gm-style .gm-style-iw-d {
  overflow: hidden !important;
  max-width: 321px;
  max-height: 421px;
}
button[title="Close"] {
  background-color: black !important;
  display: block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  width: 20px !important;
  height: 20px !important;
  right: 2% !important;
  top: 2% !important;

  border-radius: 50%;
}
button[title="Close"] img {
  background-color: black !important;
  margin: 0px !important;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .map-img-container {
    height: 100px !important;
  }

  .mapContainerDiv {
    z-index: 1;
  }
  .map-container {
    z-index: 1 !important;
  }
  .mapContainerDiv {
    height: 300px !important;
  }
}
