.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #A8EB12;
    font-size: 10px;
}
.copyright{
text-align: right;
margin: 0.5rem auto;
font-size: 16px;
color:#333;
}
.footer-link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;

}
.footer-link:hover{
    color: #333;
    border-radius: 10px 0 0 10px;
    background-color: #A8EB12;
    border-right: 3px solid #333;
}

